black~=20.8b1               # Code formater
flake8~=3.8.0               # Source code linter
pre-commit~=2.9.2           # Pre-commit hooks
pydocstyle~=5.1.0           # Analyze docstring conventions
setuptools~=50.3.0          # Easily build, install, upgrade packages
wheel~=0.35.0               # A built-package formattwine