# Requirements for development
-c requirements.txt
black~=23.3.0              # Code formater
isort==5.13.2               # Sort imports
pre-commit==3.2.2            # Pre-commit hooks
pydocstyle==6.3.0           # Analyze docstring conventions
pytest==8.0.0               # Unit tests
pytest-cov ==4.1.0          # Coverage
ruff==0.2.1           # A built-package formattwine
twine==4.0.2
mkdocs==1.5.3               # Documentation
mkdocs-material==9.5.13     # Documentation theme
bump2version==1.0.1